@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Exo', sans-serif;
  background: #1A1A1A;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 550;
}

h3 {
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: 'Exo';
}

.hero-custom-black {
  background-color: #1A1A1A;
}

.animate-slide-in {
  animation: slideIn 1s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Desktop Menu Styling */
@media (min-width: 768px) {
  .desktop-menu {
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
  }

  .mobile-menu-toggle {
    display: none !important;
  }

  .nav-link {
    margin: 0.5rem 1rem;
    padding: 0.25rem 0;
    transition: color 0.3s ease-in-out;
  }

  .nav-link:hover {
    color: #d1d5db;
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}

/* Mobile Menu Styling */
@media (max-width: 767px) {
  nav .desktop-menu {
    display: none !important;
  }

  .mobile-menu-toggle {
    display: block !important;
  }

  .mobile-menu {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 1rem;
  }

  /* Badge & Social Links Section */
  .badge-social-section {
    margin-left: 1rem;
    /* Left margin */
  }

  .badge-social-header {
    text-align: left;
    /* Left-align the header */
  }

  .social-links {
    display: flex;
    justify-content: space-between;
    /* Evenly spread across the screen */
    margin-left: 1rem;
    /* Left margin */
    margin-right: 1rem;
    /* Ensure spacing on the right */
  }

  .social-link-img {
    width: 40px;
    /* Adjust size as needed */
    height: 40px;
  }

  /* Contact Me Section */
  .contact-section {
    margin-left: 1rem;
    /* Left margin */
  }

  .contact-me {
    display: flex;
    align-items: center;
    /* Align text and icon on the same line */
    gap: 0.5rem;
    /* Space between text and icon */
  }

  .contact-icon {
    width: 24px;
    /* Adjust size as needed */
    height: 24px;
  }
}

.debug-mobile {
  background-color: rgba(255, 0, 0, 0.3);
}

.debug-desktop {
  background-color: rgba(0, 255, 0, 0.3);
}