@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Exo', sans-serif;
  background: linear-gradient(180deg, #0D1B2A 0%, #1A2A44 100%);
  color: #FFFFFF;
  margin: 5%;
  padding: 10%;
}

a {
  color: inherit;
  text-decoration: none;
}

.hero-custom-black {
  background-color: #1A1A1A;
  /* Custom darker black for hero */
}

.animate-slide-in {
  animation: slideIn 1s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}